<!-- FOOTER: Cambiar de absolute a relative para flujo normal -->
<footer class="relative w-full h-[80px] flex justify-evenly text-white bg-[#302023] gap-5 mt-auto bottom-0">
  <div class="p-1 flex justify-start items-center gap-3 sm:p-8">
    <img src="./assets/img/facebook.png" class="w-5 sm:w-10">
    <img src="./assets/img/instagram.png" class="w-5 sm:w-10">
    <img src="./assets/img/youtube.png" class="w-5 sm:w-10">
  </div>
  <div class="flex flex-row items-center text-center text-xs gap-3 sm:text-xl">
    <span>IBP</span>
    <span class="border-r-2 border-white h-12 mx-[-10px] sm:h-18"></span>
    <span class="tracking-wide">Iglesia Bautista <br />de Pacora</span>
  </div>
  <div class="flex justify-end items-center">
    <img src="./assets/img/mapa.png" class="w-5 sm:w-10">
    <div class="text-xs sm:text-xl">
      Dirección: 3PJ4+QW5, Panamá<br />Teléfono: +507 6438-7234
    </div>
  </div>
</footer>