<div
  class="absolute w-screen h-[15vh] max-w-full lg:h-[35vh] bg-cover bg-center bg-no-repeat flex items-center justify-center"
  style="background-image: url('/assets/img/nuestrocredo.jpg')"
>
  <h1 class="text-white text-[30px] text-center lg:text-[50px]">
    Nuestro Credo
  </h1>
</div>
<section class="pt-[15vh] lg:pt-[35vh] pb-[100px] pl-3">
  <h3 class="font-bold text-[25px]">Dios Padre</h3>
  <p>
    El SEÑOR es nuestro Dios, el SEÑOR uno es.<br />
    El SEÑOR reina, vestido está de majestad; El SEÑOR se ha vestido y ceñido de
    poder; Ciertamente el mundo está bien afirmado, será inconmovible. <br />
    Desde la antigüedad está establecido Tu trono; Tú eres desde la
    eternidad.<br />
    Deuteronomio 6:4; Salmo 93:1-2
  </p>
  <br />
  <h3 class="font-bold text-[25px]">Dios Hijo</h3>
  <p>
    Él es la imagen del Dios invisible, el primogénito de toda creación. <br />
    Porque en Él fueron creadas todas las cosas, tanto en los cielos como en la
    tierra, <br />
    visibles e invisibles; ya sean tronos o dominios o poderes o autoridades;
    <br />
    todo ha sido creado por medio de Él y para Él. <br />
    Y Él es antes de todas las cosas, y en Él todas las cosas permanecen. <br />
    Él es también la cabeza del cuerpo que es la iglesia. Él es el principio, el
    primogénito de entre los muertos, a fin de que Él tenga en todo la
    primacía.<br />
    Porque agradó al Padre que en Él habitara toda la plenitud, y por medio de
    Él reconciliar todas las cosas consigo, habiendo hecho la paz por medio de
    la sangre de Su cruz, por medio de Él, repito, ya sean las que están en la
    tierra o las que están en los cielos. Colosenses 1:15-20
  </p>
  <br />
  <h3 class="font-bold text-[25px]">Dios Espíritu Santo</h3>
  <p>
    Cuando venga el Consolador, a quien yo enviaré del Padre, es decir, <br />
    el Espíritu de verdad que procede del Padre, Él dará testimonio de Mí;
    <br />
    En esto sabemos que permanecemos en Él y Él en nosotros: en que nos ha dado
    de Su Espíritu. <br />
    Y no entristezcan al Espíritu Santo de Dios, por el cual fueron sellados
    para el día de la redención.<br />
    Juan 15:26; 1 Juan 4:13; Efesios 4:30
  </p>
  <br />
  <h3 class="font-bold text-[25px]">La Iglesia</h3>
  <p>
    Y todo lo sometió bajo Sus pies, y a Él lo dio por cabeza sobre
    todas las cosas a la iglesia, <br>
    la cual es Su cuerpo, la plenitud de Aquel que
    lo llena todo en todo, es la iglesia del Dios vivo, columna y sostén de la
    verdad. <br>
    Efesios 1:22-23; 1 Timoteo 3:15
  </p>
  <br />
  <h3 class="font-bold text-[25px]">El Regreso de Cristo</h3>
  <p>Pero el fin de todas las cosas se acerca.
    Sean pues ustedes prudentes y de espíritu sobrio para la oración.
    "Sí, vengo pronto". Amén. Ven, Señor Jesús.<br>
    1 Pedro 4.7; Apocalipsis 22.20</p>
</section>