<div
  class="absolute top-0 left-0 w-screen h-[15vh] lg:h-[50vh] bg-cover bg-center bg-no-repeat z-0"
  style="background-image: url('/assets/img/confesiondefe.jpg')"
>
  <h1 class="text-white text-[30px] text-center lg:text-[50px] mt-[50px] lg:mt-[100px]">
    Conócenos
  </h1>
</div>
<div class="relative z-10 mt-[15vh] w-[100vw] lg:mt-[50vh] px-4">
  <div class="flex justify-center">
    <p class="text-[15px] text-center w-[50vw]">
      No atribuimos autoridad alguna a la confesión de Fe sobre la Biblia. <br> 
      La confesión de fe es una guía de temas generales a travez de la Biblia, <br>
      dándonos un orden lógico, enfocadas en las personas del Dios trino, sus <br>
      propósitos y sus planes en relación con el mundo y la humanidad. <br>
      Nuestros fundamentos están en la Santa Biblia que no puede ser sustituida.
    </p>
  </div>

  <div class="flex justify-center mt-[20px] lg:mt-[40px]">
    <img src="assets/img/1689.png" class="mx-auto" alt="Image">
  </div>
</div>